---
const faq = [
  {
    question: "What is Amazing Dealz?",
    answer:
      "Amazing Dealz is a Telegram channel that provides exclusive deals and discounts on leading e-commerce sites.",
  },
  {
    question: "How do I join the Telegram channel?",
    answer:
      "Simply click on the 'Join Telegram Channel' button on our website, and you'll be redirected to our channel.",
  },
  {
    question: "Are the deals updated regularly?",
    answer:
      "Yes, we update our channel with new deals daily, so you never miss out on the latest discounts.",
  },
  {
    question: "Can I suggest deals to be posted on the channel?",
    answer:
      "Yes, we welcome suggestions from our community members. Feel free to share any deals you come across, and we'll consider posting them on the channel.",
  },
];
---

<div
  class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8"
>
  <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
    <div class="space-y-4">
      <div class="border-b">
        <button
          type="button"
          aria-label="Open item"
          title="Open item"
          class="flex items-center justify-between w-full p-4 focus:outline-none"
        >
          <p class="text-lg font-medium">
            The quick, brown fox jumps over a lazy dog?
          </p>
          <!-- Add "transform rotate-180" classes on svg, if is open" -->
          <svg
            viewBox="0 0 24 24"
            class="w-3 text-gray-600 transition-transform duration-200"
          >
            <polyline
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-miterlimit="10"
              points="2,7 12,17 22,7"
              stroke-linejoin="round"></polyline>
          </svg>
        </button>
        <!-- Show content if is open 
          <div class="p-4 pt-0"><p class="text-gray-700">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa quae.</p></div>
          -->
      </div>
      <div class="border-b">
        <button
          type="button"
          aria-label="Open item"
          title="Open item"
          class="flex items-center justify-between w-full p-4 focus:outline-none"
        >
          <p class="text-lg font-medium">
            The first mate and his Skipper too will do?
          </p>
          <svg
            viewBox="0 0 24 24"
            class="w-3 text-gray-600 transition-transform duration-200 transform rotate-180"
          >
            <polyline
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-miterlimit="10"
              points="2,7 12,17 22,7"
              stroke-linejoin="round"></polyline>
          </svg>
        </button>
        <!-- Show content if is open 
          <div class="p-4 pt-0"><p class="text-gray-700">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa quae.</p></div>
          -->
      </div>
      <div class="border-b">
        <button
          type="button"
          aria-label="Open item"
          title="Open item"
          class="flex items-center justify-between w-full p-4 focus:outline-none"
        >
          <p class="text-lg font-medium">Is the Space Pope reptilian!?</p>
          <svg
            viewBox="0 0 24 24"
            class="w-3 text-gray-600 transition-transform duration-200 transform rotate-180"
          >
            <polyline
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-miterlimit="10"
              points="2,7 12,17 22,7"
              stroke-linejoin="round"></polyline>
          </svg>
        </button>
        <!-- Show content if is open 
          <div class="p-4 pt-0"><p class="text-gray-700">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa quae.</p></div>
          -->
      </div>
      <div class="border-b">
        <button
          type="button"
          aria-label="Open item"
          title="Open item"
          class="flex items-center justify-between w-full p-4 focus:outline-none"
        >
          <p class="text-lg font-medium">How much money you got on you?</p>
          <svg
            viewBox="0 0 24 24"
            class="w-3 text-gray-600 transition-transform duration-200 transform rotate-180"
          >
            <polyline
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-miterlimit="10"
              points="2,7 12,17 22,7"
              stroke-linejoin="round"></polyline>
          </svg>
        </button>
        <!-- Show content if is open 
          <div class="p-4 pt-0"><p class="text-gray-700">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa quae.</p></div>
          -->
      </div>
    </div>
  </div>
</div>
